* { 
	-webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body {
	/*font-family:"fira-sans-2", serif;*/
	font-family:‘Arial Narrow’, sans-serif;
	background-color:#fff;
	padding:0;
	margin:0;
}

h1 h2 p {
	color:#333;
}

header {
	position:fixed;
	padding:10px;
	color:#fff;
	width:100%;
	background-image:url("../images/stardust_dkbl.png");
	background-repeat:repeat-x;
	height:130px;
	z-index:1;
}

#logo {
	margin-left:2%;
}

header h1 h2 {
	/*font-family:"sanvito-pro-display", serif;*/
	letter-spacing:.1em;
}

header h1 {
	font-size:2.2em;
	font-weight:lighter;
	line-height:0;
	letter-spacing:.05em;
	margin-left:9%;
	margin-top:-60px;
}

header h2 {
	font-size:1.1em;
	line-height:1em;
	letter-spacing:.1em;
	margin-left:9%;
}

nav ul {
	margin-left:75%;
	margin-top:-160px;
}

nav li{
	color:#fff;
	font-size:1.5em;
	list-style:none;
	display:inline-block;
	float:left;
	margin-left:50px;
	padding:0;
}

#store {
	margin-top:-90px;
	margin-left:45%;
	margin-right:55%;
}

section#portfolio {
	padding-top:130px;
}

section#portfolio article {
	width:25%;
	float:left;
	padding:0;
	margin:0;
	position:relative;
}

section#portfolio article div.overlay {
	display:none; /* CHANGE TO NONE ON PRODCUTION */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:10px;
	background-color:rgba(0,0,0,0.10);
	overflow:hidden;
}

section#portfolio article div.overlay a {
	color: black;
	height: 100%;
}

section#portfolio article img {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}

.thumbnail {
	padding:0;
	margin:0;
}

#products {
	padding-top:160px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.image {
  position:relative;
}

.caption{
  color:#000;
  position:absolute;
  bottom:0;
  padding:10px 25px;
  line-height:1.4em;
  background-color:rgba(0,0,0,0.10);
}

#about {
	padding-top:200px;
	width:50%;
	line-height:1.2em;
	font-size:1.2em;
	margin-left:auto;
	margin-right:auto;
}

#about img {
	float:left;
	margin:20px;
}

#about p {
	margin:20px;
}

#about a {
	color:#333;
	font-weight:bold;
	line-height:.8em;
	letter-spacing:.2px;
}

#about a:hover {
	background-color:#fcf3c6;
}

form {
	width:600px;
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	}
	
fieldset {
	background-color:#fcf3c6;
}

form input {
	padding:5px;
	border-radius:5px;
	width:100%;
	font-weight:bold;
}

#form-intro{
	font-weight:bold;
	line-height:1.2em;
	font-size:2em;
}

textarea {
	padding:5px;
	border-radius:5px;
	height:100px;
	width:100%;
}

#button {
	background-color:#041b36;
	color:#fff;
	font-size:1em;
	font-weight:bold;
	width:24%;
	margin-right:38%;
	margin-left:38%;
}

footer {
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	background-color:#000;
	height:50px;
	margin-left:auto;
    margin-right:auto;
	z-index:4;
	clear:both;
}

a {
    color:#fff;
	text-decoration:none;
}

a:hover {
    color:#ffeacc;
}

@media screen and (max-width: 480px) {



	/*#store {
		display: none;
	}

	header h2 {
		display: none;
	}

	header nav ul {
		margin: 0;
	}

	header nav ul li {
		float: none;
	}*/
}